
h1.page-header,h2.page-header{color:#022a3b;}
h2{color:#022a3b;}
h3{color:#022a3b;}
body a {
    color: #ea3206
}
body a:hover{
	color:#0584b8
}

/*-- HEADER --*/

 .breadcrumb-wrapper {
    background-color: #022a3b; /*-- BREADCRUMB --*/
}
.breadcrumb-wrapper .breadcrumb li a {
    color: #06a7ea;
}
.breadcrumb-wrapper .account ul li a {
    border-right: 1px solid #fff;
    color: #fff;
}


#header-wrapper {
    background-color: #fff;
}

#header-wrapper #header #header-inner .navbar .navbar-inner .site-name .brand {
    color: #022a3b;
}
#header-wrapper #header #header-inner .navbar .navbar-inner .site-slogan {
    color: #b5b5b5;
}
#header-wrapper #header #header-inner .navbar .navbar-inner .site-slogan span {
    border-left: 2px solid #f0f0f0;
}
#header-wrapper #header #header-inner .navbar .navbar-inner .site-email a {
    color: #707070;
}
#header-wrapper #header #header-inner .navbar .navbar-inner .site-phone span {
    color: #707070;
}
.btn.btn-primary {
    -webkit-transition: background-color 0.2s ease-in;
    -moz-transition: background-color 0.2s ease-in;
    -o-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in;
    background-color: #06a7ea;
}
.btn.btn-primary:hover{background-color:#0584b8}
.btn-primary {
    color: #ffffff;
}
#navigation {
    background-color: rgba(255,255,255,0.5);
}
.navigation-wrapper .navigation .nav li {
    background-color: transparent;
}
.navigation-wrapper .navigation .nav li .nolink, .navigation-wrapper .navigation .nav li a {ransparent;
    border-top: 2px solid transparent;
    color: #313131;
}
.navigation-wrapper .navigation .nav li:hover>.nolink, .navigation-wrapper .navigation .nav li:hover>a {
    background-color: #022a3b;
    border-top: 2px solid #06a7ea;
    color: #06a7ea;
}
.navigation-wrapper .navigation .nav li ul {
    background-color: #022a3b;
}
.navigation-wrapper .navigation .nav li ul li .nolink,.navigation-wrapper .navigation .nav li ul li a{
	color:#fff !important;
	}
.navigation-wrapper .navigation .nav li ul li .nolink:hover,.navigation-wrapper .navigation .nav li ul li a:hover{background-color:#06a7ea;}
.navigation-wrapper .navigation .site-search input[type=text] {
    border: 1px solid #ffcfb7;
    color: #707070;
}
.navigation-wrapper .navigation .site-search .search {
    background-color: #fff;
    border: 1px solid #ffcfb7;
}



/*-- 模态框（Modal） --*/
.modal-header {
    border-bottom: 1px solid #eee;
}
button.close {
    background: transparent;
}
.modal-footer {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
}


.btn:hover,
.btn:focus {
  color: #333333;
}

.btn.btn-primary:hover{background-color:#0584b8}



/*-- footer --*/

#footer-wrapper {
    background-color: #022a3b;
    color: #fff;
}
#footer-wrapper #footer-top {
    background-color: #02344a;
}
#footer-wrapper #footer-top h2 {
    color: #06a7ea;
}
#footer-wrapper .widget.properties .property {
    background-color: #022a3b;
}
#footer-wrapper .widget.properties .property .price {
    color: #fff;
}
#footer-wrapper #footer-top .nav li {
    color: #06a7ea;
}
#footer-wrapper #footer-top .nav li a {
    color: #fff;
}
#footer-wrapper #footer-top table.contact th {
    color: #06a7ea;
}


/*--  SIDE  --*/

.side ul li {
    border-bottom: 1px solid #444;
}
.side ul li .sidetop:hover{background:#ae1c1c;}



/*-----index.html-----*/

.carousel-indicators .active {
    background-color: #fff;
}
.carousel-control {
    color: #ffffff;                        
    background: #222222;
    border: 3px solid #ffffff;
}


h1.page-header, h2.page-header {
    color: #022a3b;
}


.properties-grid .property {
    background-color: #fff;
}
.properties-grid .property h2 a {
    color: #06a7ea;
}
.properties-grid .property .area {
    color: #313131;
}
.sidebar h2 {
    color: #707070;
}
.widget.our-agents .agent {
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    background-color: #fff;
}
.widget.our-agents .agent .name {
    color: #313131;
}
.widget.properties .content .property {
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    background-color: #fff;
}



.carousel .content {
    background-color: #022a3b;
}
.carousel .carousel-prev {
    background-color: #06a7ea;
}
.carousel .carousel-prev:hover{background-color:#0584b8}
.carousel .carousel-next {
    background-color: #06a7ea;
}
.carousel .carousel-next:hover{background-color:#0584b8}
.carousel .caroufredsel_wrapper {
    background-color: #022a3b;
}
.carousel ul li {
    background-color: #fff;
}
.carousel ul li .price {
    background-color: #ffffff;
}




.big_pic .txt {
    color: #BDBDBD;
    background: rgba(0,0,0,0.5);
}



.bottom-wrapper {
    background-color: #fff;
}
.bottom-wrapper .decoration {
    background-color: #f0f0f0;
    border: 6px solid #f0f0f0;
}
.bottom-wrapper .item h2 a {
    color: #022a3b;
}
.bottom-wrapper .item .btn {
    background-color: #0581b5;
    color: #fff;
}
.bottom-wrapper .item .btn:hover{background-color:#045e83}


.features .item .text h3 {
    color: #313131;
}








/* -----LIST-----*/
.selectedSort {
    border: 1px solid #ed7f5a;
    background-color: #fff4f0;
    color: #ed7f5a;
}
.wareSort {
    border: 1px solid #ddd;
    background-color: #f6f6f6;
}
.wareSort ul {
    border: 1px solid #ddd;
    background-color: #fff;
}
.wareSort ul li a {
    border: 1px solid #fff;
}
.wareSort ul li.active a {
    border-color: #ed7f5a;
    background: #fff4f0 url(../img/arrow.png) no-repeat right center;
    color: #ed7f6c;
}
.wareSort ul li a:hover { color: #ed7f5a;}

.properties-rows .filter {
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    background-color: #fff;
}
.properties-rows .filter form .control-group label {
    color: #1b1b1b;
}
span.item.dot-bottom {
    border-color: #ff632f;
}
.form-required {
    color: red;
}
.cl {
    background: #34538b;
}
.cl.on {
    background: #a0b3d6;
}
.cl.on:hover{background:#486aaa;}
.h {
    background: white;
}
.properties-rows .property {
    background-color: #fff;
}
.properties-rows .grid .title-price .title h2 a {
    color: #06a7ea;
}
.properties-rows .grid .title-price .price {
    color: #313131;
}
.properties-rows .grid .property .sale {
    color: #ff8300;
}
.properties-rows .property .location {
    color: #707070;
}span.OPI {
    color: #666;
}
.pagination span.disabled {
    color: #bfbfbf;
    background: #f2f2f2;
    border: 1px solid #bfbfbf;
}
.pagination span.current {
    color: #fff;
    background-color: #428bca;
    border: 1px solid #428bca;
}
.widget.properties .content .property {
    background-color: #fff;
}


/* -----DETAIL-----*/
.carousel .content {
    background-color: #022a3b;
}
.carousel.property .content {
    background-color: transparent;
}
.pricing .column {
    background-color: #fff;
}
.pricing .column .btn-primary {
    background-color: #0581b5;
}
.pricing .column .btn-primary:hover{background-color:#045e83}
.property-detail {
    background-color: #fff;
}
.tabs li.active {
    background-color: #fff;
}
.tabs li.active a {
    color: #022a3b;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #ddd;
}
.tabs li a {
    background-color: #f0f0f0;
    color: #707070;
}
.tab-content {
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
    background-color: #fff;
}
.table-bordered {
    border: 1px solid #dddddd;
}
.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}
.table-bordered th, .table-bordered td {
    border-left: 1px solid #dddddd;
}
.table th, .table td {
    border-top: 1px solid #dddddd;
}







/* -----firm-order & order & shopping-cart-----*/
.shade {
    background: #fbfbfb;
    opacity: 0.5;
}
.open_btn {
    background: red;
}
.Caddress .add_mi p {
    color: #666;
}
a.add {
    color: #adadad;
}
.shade_content {
    background: #FFFFFF;
}
.shade_colse button {
    background: red;
}
.input_style {
    border: 1px solid #CCCCCC;
}
.btn_remove {
    background: #31B0D5;
}
.property-detail {
    background-color: #fff;
}
.one-shop {
    border-right: 1px solid #a3e0f9;
    border-left: 1px solid #a3e0f9;
    border-bottom: 1px solid #a3e0f9;
}
.shop-total tbody {
    background-color: #e1edff;
    border-top: 2px solid #06a7ea;
}
.spy {
    color: #ff5500;
}
.table-hover td.td4 {
    border-left: 1px solid #a3e0f9;
}
.tabf {
    background-color: #fff;
}
input#footrr {
    background-color: #FF5722;
    color: #ffffff;
}
.foot>span>b {
    color: #FF5722;
}
.footrl>span {
    color: #ff5500;
}
.footrl>span>strong {
    color: #cccccc;
}


.property-detail {
    background-color: #fff;
}
.table-hover td.td5 {
    border-left: 1px solid #a3e0f9;
}
button.btn.btn-default {
    background-color: #ffcfb7;
}
span.logistics-text {
    background: #ff632f;
}
.logistics {
    background: #ffeadf;
}


a.smbb {
    border: 1px solid #ff6600;
}
a.smbc {
    background-color: #ffffff;
    border-bottom: 1px solid #aaaaaa;
    border-top: 1px solid #aaaaaa;
}
.foot a {
    color: #FF5722;
}






/* -----join-us-----*/
.map-img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    background-color: #fff;
}




/* -----login & registration-----*/
.tabs li.active a {
    color: #022a3b;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.tabs li a {
    background-color: #f0f0f0;
    color: #707070;
}
.tab-content {
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
    background-color: #fff;
}
.form-required {
    color: red;
}
form .form-actions {
    background-color: transparent;
}
.login-register .images .item h3 {
    color: #1b1b1b;
}
hr {
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #ffffff;
}

body ul.dotted li {
    color: #022a3b;
}
body ul.dotted li .inner {
    color: #313131;
}
body ul.dotted li .inner strong {
    color: #1b1b1b;
}


